
@{
    ViewData["Title"] = "IndexB2B";
}

<h1>IndexB2B</h1>


<div class="container p-3">
    <br />
    <br />
    <div class="row pt-4">
        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_B2B_PT")'">
                    B2B_PT
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_B2B_PartageGC")'">
                    B2B_PartageGC
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_B2B_PartageFON")'">
                    B2B_PartageFON
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_B2B_NRA")'">
                    B2B_NRA
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_B2B_PVR_BC")'">
                    B2B_PVR_BC
                </button>
            </div>
        </div>
        <br />
        <br />


       
       
    </div>
</div>



