
@{
    ViewData["Title"] = "IndexFTTS";
}

<h1>IndexFTTS</h1>


<div class="container p-3">
    <br />
    <br />
    <div class="row pt-4">
        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_FTTS_PT")'">
                    FTTS_PT
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_FTTS_PartageGC")'">
                    FTTS_PartageGC
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_FTTS_PartageFON")'">
                    FTTS_PartageFON
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_FTTS_NRA")'">
                    FTTS_NRA
                </button>
            </div>
        </div>
        <br />
        <br />

        <div class="col-6">
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-info" type="button" onclick="location.href='@Url.Action("Index", "Facturation_FTTS_PVR_BC")'">
                    FTTS_PVR_BC
                </button>
            </div>
        </div>
        <br />
        <br />


    </div>
</div>



