@{
    ViewData["Title"] = "CreateFile";
}

<h1>CreateFile</h1>

@model VinciEnergiesData.FileViewModel

<h2>Files in @Model.City</h2>
<div class="row">
    @foreach (var imagePath in Model.Files)
    {
        <div class="col-md-3 mb-4">
            <div class="d-flex justify-content-center">
                <form asp-action="DeleteFile" method="post" class="d-inline">
                    <input type="hidden" name="filePath" value="@imagePath" />
                    <input type="hidden" name="city" value="@Model.City" />
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                </form>
                <a href="/Home/DownloadFile/?filePath=@imagePath" class="btn btn-success w-100 ms-2">
                    <i class="bi bi-download"></i> @imagePath
                </a>
            </div>
        </div>
    }
</div>

<h3 class="mt-5">Upload New File</h3>
@using (Html.BeginForm("CreateFile", "BO_B2B", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-group col-md-4 mb-3">
            <label for="myFile" class="form-label">Upload File</label>
            <input type="file" class="form-control" name="myFile" />
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" name="city" value="@Model.City" placeholder="Enter city" />
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="dossier" class="form-label">Dossier</label>
            <input type="text" class="form-control" name="dossier" value="@BO_Dossier.BO_B2B.ToString()" readonly />
        </div>
        <div class="form-group col-md-12">
            <input type="submit" class="btn btn-primary" name="Upload" value="Upload" />
        </div>
    </div>
}
